.logo-dark {
  color: var(--white) !important;
}

h1 {
  padding-top: 5rem;
  text-align: center;
}

img {
  height: 10rem;
  width: 15rem;
  object-fit: cover;
}

main .container {
  display: block;
}

.cart {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.014);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.cart button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--red);
  font-size: 1.5rem;
  display: block;
  margin-right: 2rem;
  transition: all 0.3s ease-in-out;
}

form {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 0 2rem;
  display: grid;
  grid-template-areas:
    "name email"
    "address city"
    "country zip"
    "card expiry-date"
    "cvv holder"
    "submit submit";
  grid-gap: 1rem;
}

h2 {
  text-align: center;
}

form input {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--lightGrey);
  outline: none;
}

form input:focus {
  border: 1px solid var(--darkRed);
}

.coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.coupon input {
  width: 70%;
  padding: 1rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  margin: 0;
  height: 64px;
}

.coupon .btn {
  height: 4rem;
  padding: 0rem 2rem !important;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
  height: 64px;
}

.old-price {
  text-decoration: line-through;
  color: var(--lightGrey);
}

form input[type="submit"] {
  grid-area: submit;
  background-color: var(--darkRed);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
}

.container h2 {
  margin-top: 5rem;
}

form input[type="submit"]:hover {
  filter: brightness(0.8);
}

form input[type="text"] {
  width: 100%;
}

form input[type="email"] {
  grid-area: email;
}

form input[type="text"]:nth-child(1) {
  grid-area: name;
}

form input[type="text"]:nth-child(2) {
  grid-area: address;
}

form input[type="text"]:nth-child(3) {
  grid-area: city;
}

form input[type="text"]:nth-child(4) {
  grid-area: country;
}

form input[type="text"]:nth-child(5) {
  grid-area: zip;
}

form input[type="text"]:nth-child(6) {
  grid-area: card;
}

form .expiry-date {
  width: 100%;
  grid-area: expiry-date;
}

form .cvv {
  grid-area: cvv;
}

form .card-holder {
  grid-area: holder;
}

/* responsiveness */

@media screen and (max-width: 768px) {
  main .container {
    margin: 0;
  }

  .cart {
    gap: 0.5rem;
  }
  .cart-img {
    height: clamp(100px, 10vw, 200px);
    width: clamp(100px, 10vw, 200px);
  }
  .cart img {
    height: clamp(100px, 10vw, 200px);
    width: clamp(100px, 10vw, 200px);
  }
  .cart h4 {
    font-size: 1rem;
  }

  .cart .btn {
    margin-right: 1rem;
  }

  .cart .remove {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-right: 1rem;
  }

  form {
    grid-template-areas:
      "name"
      "email"
      "address"
      "country"
      "city "
      "zip"
      "card"
      "expiry-date"
      "cvv"
      " holder"
      "submit";
    padding: 0 1rem;
  }
}

@media screen and (max-width: 576px) {
  .cart {
    gap: 0.5rem;
  }
  .cart h4 {
    font-size: 0.8em;
  }
  .cart span {
    font-size: 0.6rem;
  }
  .cart button {
    margin-right: 0.5rem !important;
    font-size: 0.75rem !important;
  }
}
