.hero {
  color: var(--white);
  padding-bottom: 1rem;
  animation: onLoad 500ms linear;
}

h1 {
  margin: 1.5rem auto;
}

.hero img {
  width: clamp(400px, 35vw, 750px);
  margin: 0 auto;
  display: block;
  height: auto;
  transform: scaleX(-1);
}

.product-price {
  font-weight: 700;
  font-size: 1.333rem;
  font-family: "Montserrat";
  color: var(--darkRed);
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.product-description {
  font-size: 1rem;
  font-family: "Open Sans";
  color: var(--grey);
  line-height: 1.5;
}

.newsletter {
  color: var(--white);
  text-align: center;
  background-color: var(--dark);
  padding: 3rem 0;
}

.newsletter .container {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.newsletter h2 {
  animation: fromLeft linear, scroll linear;
  animation-timeline: view();
}

.newsletter p {
  animation: fromRight linear, scroll linear;
  animation-timeline: view();

  font-size: 1rem;
  font-family: "Open Sans";
  color: var(--lightGrey);
  line-height: 1.5;
}

section form {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: clamp(300px, 50vw, 80vw);
  animation: fromLeft linear, scroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 75%;
}

input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 5px;
  border: none;
  font-family: "Open Sans";
  color: var(--dark);
  width: 100%;
}

input:focus,
input:active {
  outline: 2px solid var(--darkRed);
}

.newsletter button {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column-reverse;
    gap: 0rem;
  }

  .hero .text-container {
    align-items: center;
    gap: 1rem;
  }
}

.featured-products .products .product-description {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .hero img {
    width: clamp(300px, 50vw, 80vw);
  }

  .hero .text-container {
    text-align: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .hero img {
    width: clamp(200px, 50vw, 80vw);
  }

  .featured-products .products .card {
    animation: fromRight linear, scroll linear;
    animation-timeline: view();
  }
  .featured-products .products .card:nth-child(2) {
    animation: fromLeft linear, scroll linear;
    animation-timeline: view();
    animation-range: cover 0% cover 75%;
  }

  .featured-products .products .card:nth-child(3) {
    animation-range: cover 0% cover 75%;
  }
}
