@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open%20Sans:400");
:root {
  --white: #fefefe;
  --dark: #191919;
  --grey: #3d3d3d;
  --red: #ff0000;
  --darkRed: #a40000;
  --lightGrey: #bfbfbf;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.25;
  overflow-x: hidden;
  letter-spacing: 0.05rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 700;
}

html {
  font-size: 100%; /* 16px */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader > div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid var(--darkRed);
  border-bottom: 0;
  border-right: 0;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

header {
  background-image: url(../assets/heroBg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  color: var(--light);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 4rem 2rem;
  margin: auto;
  height: 80px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  letter-spacing: 0.25rem;
}

.logo-dark {
  color: #191919;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burger {
  display: none;
  z-index: 1000;
}

.burger div {
  width: 50px;
  height: 5px;
  background-color: var(--white);
  margin: 7px;
  transition: all 0.3s ease;
}

.burger.active div {
  background-color: var(--red);
}

.burger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-11px, 6px);
}

.burger.active div:nth-child(2) {
  opacity: 0;
}

.burger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-11px, -6px);
}

li {
  padding: 0 1rem;
  font-size: 1.2rem;
}

li .active {
  font-size: 2rem;
  font-weight: 700;
}

a {
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--lightGrey);
}

a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--lightGrey);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s;
}

a:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

.small-nav {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--darkRed);
  color: var(--white);
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

h1 span {
  background: linear-gradient(90deg, var(--darkRed) 0%, rgb(0, 0, 0, 0) 100%);
  border-radius: 0.25rem;
}

.banner-container {
  width: 100vw;
  overflow: hidden;
}

.banner {
  width: 3550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  padding: 1rem 0;
}

.box {
  display: inline-block;
  width: 100%;
  text-wrap: nowrap;
  padding: 0 2rem;
  color: #fefefe;
  font-family: "Montserrat";
}

.box strong {
  padding: 0 0.25rem;
  background: linear-gradient(90deg, var(--darkRed) 0%, rgb(0, 0, 0, 0) 100%);
}

.box:first-child {
  animation: bannerMove 50s linear infinite;
}

@keyframes bannerMove {
  0% {
    margin-left: 0px;
    transform: translateX(0);
  }
  100% {
    margin-left: -2125px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.157rem; /* 50.512px */
  }

  h2 {
    font-size: 2.369rem; /* 37.92px */
  }

  h3 {
    font-size: 1.777rem; /* 28.48px */
  }

  h4 {
    font-size: 1.333rem; /* 21.28px */
  }

  h5 {
    font-size: 1rem; /* 16px */
  }

  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .small-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .small-nav.active {
    transform: translateX(0);
  }

  .small-nav a {
    font-size: 2rem;
    padding: 1rem;
  }

  .small-nav a::after {
    height: 3px;
    width: 100%;
  }

  .small-nav a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
  }

  .small-nav li:last-child {
    font-size: 3rem;
    font-weight: 700;
  }

  .small-nav li {
    padding: 1rem;
  }

  .small-nav li:last-child {
    font-size: 2rem;
    font-weight: 700;
  }

  .small-nav a:hover {
    color: var(--lightGrey);
  }

  .small-nav a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--lightGrey);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  .small-nav a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
  }
  .container {
    padding: 1rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.75rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .container {
    padding: 1rem;
    margin: 0 1rem;
  }

  .box {
    padding: 0 0.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
